body {
	margin: 0;
	background: #F8F9F6;
	line-height: 1.3;
}

* {
	box-sizing: border-box;
}

.vo {
	&-intro {
		display: flex;
		align-items: center;
		justify-content: space-around;
		height: 100vh;

		a {
			&:after {
				content: none;
			}
		}
	}

	&-logo {
		width: 10rem;
	}

	&-wrapper {
		transition: @transitionTime @transitionEase  all;
		padding-top: @headerHeight;

		.vo-root & {
			transform: translateY(100%);
		}
	}

	&-project {
		img {
			width: 100%;
		}
	}

	&-trenner {
		margin: 1rem 0 .5rem;

		&:after {
			content: '**';
		}
	}
}
