.antwort_word {
    border: none;
    background: transparent;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    padding: 0;
    margin-right: .6em;

    &:focus, &:hover {
        outline: none;
        font-style: italic;
    }

    &__ohne {
        text-decoration: line-through;
    }
}

.button {
    border: solid 1px currentColor;
    font-family: inherit;
    font-size: inherit;
    background: transparent;
    cursor: pointer;

    &:focus, &:hover {
        background: black;
        color: white;
    }
}

.dates {
    letter-spacing: -1px;
}

.hint {
    animation: hint 1s infinite;
}

@keyframes hint {
    0% { visibility: visible}
    50% { visibility: hidden}
    100% { visibility: hidden}
}

.line {
    margin-bottom: .5rem;
    display: block;
}