.vo_project_list {
    padding: 0;
    margin: 0;

    &-item {
        list-style: none;
        margin-bottom: 2rem;
        position: relative;
        text-align: center;
        overflow: hidden;
        height: 20rem;
        padding: 1rem;
        display: block;
        overflow: hidden;
        transition: .3s all;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }

        h2 {
            margin: 0;
        }

        &.passive {
            margin: 0;
            height: 0;
            padding-top: 0;
            padding-bottom: 0;
        }

        &.active {
            margin: 0;
            height: ~"calc(100vh - 5rem)";

            .vo_project_list-link {
                display: none;
            }
        }
    }

    &-link {
        position: absolute;
        height: 100%;
        width: 100%;
        display: block;
        z-index: 1;
        margin: -1rem;
        font-size: 0;

        &:after {
            content: none;
        }
    }

    &-description {
        padding: 1rem;
        background: white;
        max-width: 25rem;
    }

    &-body {

    }
}
