@import "../../style/vars";

@collapsedHeight: 25rem;

.vo_project_list {

    padding: 0;
    margin: 0;

    &-section {
        position: relative;
        width: 50%;
    }

    &-main_image {
        height: @collapsedHeight;
        width: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    &-item {
        list-style: none;
        position: relative;
        text-align: center;
        padding: 2rem 0 0;
        display: block;
        margin-bottom: 1rem;

        &:not(.active):hover {
            .vo_project_list-section {
                transform: translateY(-.5rem);
            }

            .vo_project_list-main_image {
                -webkit-filter: brightness(1.1);
                filter: brightness(1.1);
            }
        }

        h2 {
            margin: 0;
        }

        &.passive {
            display: none;
        }

        &.active {
            margin: 0;

            .vo_project_list-main_image {
                position: fixed;
                height: ~"calc(100vh - @{headerHeight})";
                margin-top: @headerHeight;
            }

            .vo_project_list-link {
                display: none;
            }
        }

        &.listed {
            height: @collapsedHeight;

            .vo_project-full_text {
                display: none;
            }

            .vo_project_list-section {
                height: (@collapsedHeight - 4rem);
            }
        }
    }

    &-link {
        position: absolute;
        height: 100%;
        width: 100%;
        display: block;
        z-index: 1;
        margin: -1rem;
        font-size: 0;

        &:after {
            content: none;
        }
    }

    &-body {
        text-align: left;
    }
}

.vo_project {
    &_gallery {
        padding: 0;

        li {
            list-style: none;
            padding: 1rem 1rem 0;
            background: @backgroundColor;

            &:last-child {
                padding-bottom: 1rem;
            }
        }

        img {
            display: block;
            width: 100%;
        }
    }
}
