.vo_project_list {
    padding: 0;

    &-item {
        list-style: none;
        margin-bottom: 2rem;
        position: relative;
        text-align: center;
        overflow: hidden;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }

        a {
            height: 20rem;
            padding: 1rem;
            display: block;
            overflow: hidden;
            transition: .3s all;

            &:after {
                content: none;
            }
        }

        h2 {
            margin: 0;
        }

        &.passive {
            margin: 0;

            a {
                height: 0;
                padding-top: 0;
                padding-bottom: 0;
            }
        }

        &.active {
            a {
                height: 40rem;
            }
        }
    }

    &-description {
        padding: 1rem;
        background: white;
        max-width: 25rem;
    }
}
