.vo_header {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 10rem;
    transition: .3s all;
    overflow: hidden;

    &-logo {
        padding: 1rem;
        flex-grow: 1;
        display: flex;
        align-items: center;

        &:after {
            content: none;
        }

        svg {
            height: 4rem;
        }
    }

    .vo-root & {
        height: 100vh;
    }
}
